@font-face {
  font-family: 'Comfortaa';
  src:url('./Comfortaa-Regular.ttf');
}
a {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #2c3e50;
  font-family: "Comfortaa";
}
.container {
  max-width: 1200px;
  margin: 0px auto;
}